<div class="wrapper">
  <div class="frame">
    <img src="http://placekitten.com/200/400" alt="katz">
  </div>
  <div class="frame">
    <img src="http://placekitten.com/200/400" alt="katz">
  </div>
  <div class="frame">
    <img src="http://placekitten.com/200/400" alt="katz">
  </div>
  <div class="frame">
    <img src="http://placekitten.com/200/400" alt="katz">
  </div>
  <div class="frame">
    <img src="http://placekitten.com/200/400" alt="katz">
  </div>
  <div class="frame">
    <img src="http://placekitten.com/200/400" alt="katz">
  </div>
  <div class="frame">
    <img src="http://placekitten.com/200/400" alt="katz">
  </div>
</div>
